.logo {
    color: #ED7966;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 3%;
    align-self: flex-end;
}

.login-btn {
    width:22rem;
    background-color: #ED7966;
    border:none;
}

.sidebar-admin {
    background: #ED7966;
    min-height: 100vh;
}

.btn-primary {
    background-color: #ED7966;
    --bs-btn-hover-bg: #ED7966;
    --bs-btn-active-bg: #e07363;
    border-color: #ED7966;
    --bs-btn-hover-border-color: #e07363;
    --bs-btn-hover-bg: #e07363;
    --bs-btn-active-border-color: none;
}

.box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;    
}

.backcolor {
    background-color: #F5F5F5;;
}

.red {
    color: #D04444;
}

.grey {
    color: #7E7E7F;
}
