@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.logo {
    color: #ED7966;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 3%;
    align-self: flex-end;
}

.login-btn {
    width:22rem;
    background-color: #ED7966;
    border:none;
}

.sidebar-admin {
    background: #ED7966;
    min-height: 100vh;
}

.sidebar-student {
    background: #303179;
    min-height: 100vh;
}

.btn-primary {
    background-color: #ED7966;
    --bs-btn-active-bg: #ef8979;
    border-color: #ED7966;
    --bs-btn-hover-border-color: #ef8979;
    --bs-btn-hover-bg: #ef8979;
    --bs-btn-active-border-color: #ED7966;
}

.btn-success {
    background-color: #303179;
    --bs-btn-active-bg: #494a89;
    border-color: #303179;
    --bs-btn-hover-border-color: #494a89;
    --bs-btn-hover-bg: #494a89;
    --bs-btn-active-border-color: #303179;
}

.box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;    
}

.backcolor {
    background-color: #fffbfa;
}

.backcolor2 {
    background-color: #fbfbff;
}

.red {
    color: #D04444;
}

.grey {
    color: #7E7E7F;
}

.blue {
    color: #09174A;
}

.blue:hover {
    color: #09174A;
}

.dark {
    color: #282829;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.dark-light {
    color: #414141;
}

.nav-link.active {
    color: #09174A !important ;
}

.nav-link {
    color: #7E7E7F;
}

.adminEmail {
    font-weight: 400;
    font-size: 12px;
}

.profile {
    height:100%;
    width:100%;
}
